@import '../../styles/variables';
@import '../../styles/mixins';
.conditionContainer {
  @include flexDefault;
  gap: 20px;
  flex-direction: column;
  width: 400px;
  max-width: 100%;
  border-radius: 20px;
  border: 2px solid $color-blue-weight;
  padding: 10px;
  height: 100%;
  h2 {
    font-weight: 700;
    border: 2px solid $color-blue-weight;
    border-radius: 10px;
    padding: 10px;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
      background-color: $color-blue-weight;
      color: white;
    }
  }
  .form {
    @include flexDefault;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    .input {
      width: 100%;
      padding: 10px;
      font-size: 20px;
      color: $color-blue-weight;
      font-weight: 700;
      border-radius: 20px;
      outline: none;
      border: none;
      background-color: rgb(184, 184, 184);
      &::placeholder {
        color: $color-blue-weight;
      }
    }
    .button {
      background: rgb(184, 184, 184);
      outline: none;
      border: none;
      padding: 10px;
      font-weight: bold;
      border-radius: 10px;
      color: $color-blue-weight;
      font-weight: 700;
      font-size: 20px;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        transform: translate(0, -5px);
      }
    }
    .conditionDiv {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .span {
        font-weight: bold;
        color: $color-blue-weight;
      }
      button {
        border: none;
        outline: none;
        background: none;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          transform: translate(5px, 0);
        }
      }
    }
  }
}
