@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
.containerBackgroundFundo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  width: 100%;

  .imgBackground {
    @include flexDefault;
    position: relative;
    width: 1920px;
    object-fit: contain;
    height: 1080px !important;
    object-fit: cover !important;
    background-repeat: no-repeat !important;
    background-size: 100%;
  }
  .containerSearchAndTimes {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    width: 1255px;
    height: 70%;
    bottom: 0;
    position: static;

    .times {
      @include flexArround;
      width: 100%;
      padding: 10px;
      .img {
        filter: grayscale(100%);
        transition: 0.3s;
        &:hover {
          filter: grayscale(0%);
          transform: scale(1.1);
        }
      }
    }
  }
}

.filtro {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 46, 0.74);
  pointer-events: none;
}

// MOBILE
@media (max-width: 1913px) {
  .imgBackground {
    max-width: 100%;
  }
}

@media (max-width: 1800px) {
  .containerBackgroundFundo {
    height: 1113px;
  }
}

@media (max-width: 1700px) {
  .containerBackgroundFundo {
    height: 1047px;
  }
}

@media (max-width: 1600px) {
  .containerBackgroundFundo {
    height: 918px;
  }
}

@media (max-width: 1300px) {
  .containerBackgroundFundo {
    height: 100%;
    .imgBackground {
      height: 730px;
      max-height: 100%;
    }
    .containerSearchAndTimes {
      max-width: 100%;
      padding: 5px;
      top: 150px;
    }
  }
}

@media (max-width: 900px) {
  .containerBackgroundFundo {
    .containerSearchAndTimes {
      max-width: 100%;
      padding: 5px;
      top: 50px;
      height: 178px;
      .times {
        .img {
          width: 80px;
          height: 80px;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .containerBackgroundFundo {
    .imgBackground {
      height: 350px !important;
    }
    .containerSearchAndTimes {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 300px !important;
      .times {
        display: none;
      }
      .searchContainer {
        height: 100% !important;
        gap: 40px;
        width: 335px !important;
        .selectsContainer {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          flex-direction: column !important;
          height: 100% !important;
          gap: 40px;
          .label {
            width: 100%;

            height: 30px;
          }
        }
        .buttonContainer {
          width: 100%;
          .button {
            width: 100%;
          }
        }
      }
    }
  }
}
