$color-green: #42ff00;
$color-blue: #051a3f;
$color-white: #fff;
$color-black: #000;
$color-blue-light: #0038ff;
$color-orange: #ff8a00;
$color-text: #051a3f;
$color-text-hover: #051a3fce;
$color-green-hover: #44ff00e0;
$color-blue-footer-background: #0038ff;
