@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
.section {
  @include flexDefault;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 100px;
  .containerSection {
    position: relative;
    width: 1295px;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    .newsText {
      width: 100%;
      height: 100%;
      .news1,
      .news2 {
        .newsTitle {
          position: absolute;
          color: $color-green;
          font-size: 130px;
          font-weight: bold;
          z-index: -1;
        }
      }
      .cardsNewsContainer {
        @include flexArround;
        height: 550px;
        max-height: 100%;
        width: 100%;
        max-width: 100%;
      }
      .news2 {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        width: 100%;
      }
    }
  }
}

// MOBILE
@media (max-width: 1350px) {
  .section {
    .containerSection {
      width: 1100px;
    }
  }
}
@media (max-width: 1150px) {
  .section {
    width: 100%;
    .containerSection {
      width: 100%;
    }
  }
}
@media (max-width: 600px) {
  .section {
    .containerSection {
      width: 500px !important;
    }
  }
}
@media (max-width: 525px) {
  .section {
    .containerSection {
      width: 400px !important;
    }
  }
}

@media (max-width: 900px) {
  .section {
    overflow: hidden !important;
    .containerSection {
      overflow: hidden !important;
      width: 100% !important;
      height: 100% !important;
      .cardsNewsContainer {
        height: 100% !important;
        flex-direction: column;
        gap: 20px;
      }
    }
  }
}

@media (max-width: 500px) {
  .section {
    .containerSection {
      .newsText {
        .news1,
        .news2 {
          width: 100%;
          height: 59px;
          .newsTitle {
            font-size: 100px;
          }
        }
      }
    }
  }
}
