@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.section {
  @include flexDefault;
  margin-top: 100px;
  margin-bottom: 100px;
  .containerSection {
    @include flexBetween;
    width: 1295px;
    .containerTextAndDescription {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      height: 309px;
      .titleAndDescriptionAndButton {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        width: 550px;
        height: 132px;
        gap: 44px;
        .title {
          font-size: 32px;
          font-weight: 600;
          color: $color-green;
        }
        .descriptionContainer {
          height: 100%;
          width: 100%;
          .description {
            font-size: 16px;
            line-height: 20px;
            font-weight: 400;
            color: $color-white;
          }
        }
      }
    }
  }
}

// MOBILE

@media (max-width: 1350px) {
  .section {
    .containerSection {
      width: 1100px;
    }
  }
}
@media (max-width: 1150px) {
  .section {
    .containerSection {
      width: 920px;
    }
  }
}
@media (max-width: 600px) {
  .section {
    .containerSection {
      width: 500px !important;
    }
  }
}
@media (max-width: 525px) {
  .section {
    .containerSection {
      width: 400px !important;
    }
  }
}

@media (max-width: 1000px) {
  .section {
    .containerSection {
      flex-direction: column;
      width: 100%;
      .containerTextAndDescription {
        width: 100%;
      }
    }
  }
}

@media (max-width: 425px) {
  .section {
    .containerSection {
      width: 380px !important;
    }
  }
}
@media (max-width: 384px) {
  .section {
    .containerSection {
      gap: 20px;
      width: 350px !important;
    }
  }
}
@media (max-width: 350px) {
  .section {
    .containerSection {
      width: 320px !important;
    }
  }
}
@media (max-width: 330px) {
  .section {
    .containerSection {
      width: 300px !important;
    }
  }
}
