@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.containerBannerCardSimple {
  position: relative;
  width: 100%;
  height: 487px;
  max-height: 100%;
  .imgContainer {
    @include flexDefault;
    width: 100%;
    height: 100%;
    .img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 15px;
    }
    .filtro {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 26, 0.445);
      border-radius: 20px;
      pointer-events: none;
    }
  }
  .infos {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    gap: 100px;
    .infoEsquerda {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 20px;
      flex-direction: column;
      height: 400px;
      max-height: 100%;
      width: 95%;
      max-width: 100%;

      .title {
        font-weight: 700;
        font-size: 36px;
        color: $color-white;
      }
      .description {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: $color-white;
      }
      .buttonNews {
        display: flex;
        align-items: center;
        width: 150px;
        height: 40px;
        background: $color-green;
        color: $color-text;
        outline: none;
        border: 1px solid $color-text;
        justify-content: space-between;
        padding: 10px;
        border-radius: 10px;
        font-size: 14px;
        font-weight: 400;
      }
    }
  }
}
