@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
.containerOpenModal {
  width: 300px;
  height: 200px;
  z-index: 999999999;
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  padding: 10px;
  gap: 20px;
  .askForAnOffer {
    @include flexDefault;
    width: 235px;
    height: 54px;
    max-width: 100%;
    max-height: 100%;
    background: $color-orange;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      transform: scale(1.1);
    }
    .title {
      font-size: 20px;
      font-weight: 700;
      color: $color-white;
      border-radius: 30px;
    }
  }
  .button {
    @include flexDefault;
    outline: none;
    border: none;
    background: $color-green;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    cursor: pointer;
    .img {
      object-fit: contain;
    }
  }
}

// MOBILE

@media (max-width: 700px) {
  .containerOpenModal {
    width: 200px;
    height: 150px;
    .askForAnOffer {
      width: 180px;
      height: 45px;
      .title {
        font-size: 16px;
      }
    }
    .button {
      width: 60px;
      height: 60px;
      .img {
        width: 30px;
        height: 30px;
        object-fit: contain;
      }
    }
  }
}
